@import "tailwindcss";

/* Custom styles for SimplyLegal */

.reading-mode main {
  @apply max-w-4xl mx-auto px-12;
}

.reading-mode aside, 
.reading-mode .FileUpload,
.reading-mode h4,
.reading-mode .redFlagsSection {
  @apply hidden;
}

.reading-mode section {
  @apply space-y-12;
}

.reading-mode .paper-card {
  @apply shadow-none border-none p-0;
}

.reading-mode textarea,
.reading-mode .outputText {
  @apply text-2xl leading-loose;
}
